<%- include('_partial/head') -%>
    <%- include('_partial/header') -%>
        <div class="page-content">
            <%- include(body) -%>
        </div>
        <%- include('_partial/footer') -%>
            <%- include('_partial/foot') -%>